$trunk-color: burlywood; 
$sky-color: skyblue; 

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $sky-color;
    .container {
        width: 50%;
        text-align: center;
        background-color: $trunk-color;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto; 
    }
} 

aside {
    background-color: $sky-color;
    .container {
        width: 50%;
        text-align: center;
        background-color: $trunk-color;
        margin-left: auto;
        margin-right: auto; 
        overflow: hidden;
    };
}