header,
nav {
    background-color: rgb(59, 197, 78);
    padding: 0 auto;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 0;
    li:hover {
        background-color: darkgreen;
        cursor: pointer;
    }
}

.link-github svg{
    width: 50px;
}

.skip-link {
    display: block;
    padding: 0;
    margin-bottom: -1.5em;

}