.skip-link,
header,
nav {
  background-color: greenyellow;
  padding: 0 auto;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin: 0;
}
nav ul li:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.link-github svg {
  width: 50px;
}

main {
  background-color: skyblue;
}
main .container {
  width: 50%;
  text-align: center;
  background-color: burlywood;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

aside {
  display: flex;
  background-color: rgb(192, 122, 41);
}

footer {
  background-color: rgb(192, 122, 41);
  color: white;
  display: flex;
  padding: 20px;
}
